@import "compass";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

// Color Variables
$slate: #7E94A8;
$error: #990000;

// Body defaults
body {
  font-family: montserrat;
  background-color: #fff;
}

// Type defaults
h1 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h4 { color: $slate; }
h5 { color: lighten($slate, 20%); }

// Layout
.page-signup {
  .container {
    margin-top: 20px;
  }
  padding-bottom: 200px;
}

.page-header {
  border-bottom: none;
  text-align: center;
  margin: 0;
  padding: 100px 0;
  background: #eee image-url("background.jpg") 0 center no-repeat;
  background-size: cover;

  img { width: 200px }
}

form { margin-top: 70px }

.form-container {
  padding: 40px 0;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.band-slate {
  background-color: lighten($slate, 20%);
  color: #fff;
}

.form-group-additional {
  background-color: #F7F7F7;
}

.form-group {
  & + & {
    padding: 30px 0;
    border-top: 1px solid #efefef;
    margin-bottom: 0;

    .form-group-additional & {
      border-color: #fff;
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.label-column {
  width: 40%;
  float: left;
  display: inline-block;
}

label {
  text-transform: uppercase;
  color: gray;
  font-size: 12px;
}

.input-column {
  width: 60%;
  float: left;
  display: inline-block;
}

.input-descript {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: gray;
  margin-bottom: 10px;
}

.form-inline { input + input { margin-left: 20px }}

.radio-inline {
  & + & { margin-left: 20px }
  line-height: 23px;

  em {
    text-transform: lowercase;
    opacity: 0.3;
  }
}

.input-column { .col-md-5 { padding-left: 0 } }

.additional-fields {
  border-radius: 5px;
  margin-top: 20px;
  background-color: #ddd;
  padding: 20px;
  display: none;
  @include transition( all 0.3s ease-in-out );

  .show & {
    display: block
  }
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(gray,.6);
}

// Buttons
.btn {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #ff9939;
  border-bottom: 3px solid darken(#ff9939, 20%);
  margin-top: 50px;
  @include transition( all 0.3s ease-in-out );

  &:hover {
    color: #fff;
    background-color: darken(#ff9939, 20%);
    border-top: 3px solid #ff9939;
  }
}

// JS classes
.js-trigger-hide {
  @include transition( all 0.3s );
  .trigger-hide & {
    display: none;
  }
}

// Error fields
input.parsley-error,
input.parsley-error:focus {
  border-color: $error;
}

.parsley-errors-list {
  margin-top: 10px;
  color: $error;
  list-style-type: none;
  padding-left: 0;
  font-size: 11px;
  text-transform: uppercase;
}